
<%  @cocktail = Cocktail.find(params[:id]) %>

<%= simple_form_for([@cocktail]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].
  to_sentence if f.object.errors[:base].present? %>


<div class="form-input">
  <%= f.input :name %>
  <%= f.association :ingredients %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

</div>

<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>

