<h1>Modify your cocktail</h1>

<%  @cocktail = Cocktail.find(params[:id]) %>

<%= simple_form_for([@cocktail]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].
  to_sentence if f.object.errors[:base].present? %>

<div class="form-input">
  <%= f.input :name %>
  <%= f.association :ingredients %>

</div>

<div class="form-actions">
  <%= f.button :submit %>

</div>
<% end %>

<ul>
<li><%= link_to "Return to cocktail menu", root_path %></li>
<li><%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail)%></li>
<li><%= link_to "Delete cocktail", delete_cocktail_path(@cocktail) %></li>
</ul>
