

<h1>Cocktail</h1>
<p><%= @cocktail.name %> </p>
<% @cocktail.doses.each do |dose| %>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
<p><%= dose.description %></p>
<p><%= dose.ingredient.name %> <%= link_to "delete ingredient", delete_dose_path(dose), method: :delete %></p>
<% end %>

<ul>
<li><%= link_to "Return to cocktail menu", root_path %></li>
<li><%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail)%></li>
<li><%= link_to "Delete cocktail", delete_cocktail_path(@cocktail) %></li>
<li><%= link_to "Modify cocktail", edit_cocktail_path(@cocktail) %></li>
</ul>


