<h1>Cocktail</h1>
<p><%= @cocktail.name %> </p>
<% @cocktail.doses.each do |dose| %>
<p><%= dose.description %></p>
<p><%= dose.ingredient.name %></p>
<% end %>

<%= link_to "Return to cocktail menu", root_path %>
<%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Delete cocktail", delete_cocktail_path(@cocktail) %>
<%= link_to "Modify cocktail", edit_cocktail_path(@cocktail) %>
